<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hirmiproject.hirmi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gate_activity"></activity>
        <activity android:name=".invertory_options.add_material" />
        <activity android:name=".invertory_options.adding_existing" />
        <activity android:name=".invertory_options.adding_new" />
        <activity android:name=".inventory" />
        <activity android:name=".graphs" />
        <activity android:name=".inspector_activity" />
        <activity
            android:name=".employee_layout"
            android:label="@string/title_activity_employee_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".report"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".main_login" />
        <activity android:name=".AdminMainScreenActivity" />
        <activity android:name=".User_regis" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Ispector_layout"
            android:label="@string/title_activity_ispector_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login" />
        <activity android:name=".MainActivityNew" />

        <service
            android:name=".FirebaseMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="org.achartengine.GraphicalActivity" />
    </application>

</manifest>